.game {
    width:100%;
    height:100%;
    background-color:black;
    min-height: 650px;
    background-image: url('img/background.jpg');
    background-size: cover;
    -ms-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    overflow: hidden;
    
}

body {
	margin: 0px;
	overflow:hidden;
  height: 100%;
  min-height: 600px;
  /*cursor:url('img/spaceship.png');*/
}

.player {
    opacity:1;
    height:50px;
    width:60px;
    background-image:url('./img/spaceship.png');
    background-size: cover;
    display:inline-block;
    position:absolute;
}
.speed {
    color:white;
}
.rotation {
    color:white;
}
.y {
    color:white;
}
.x {
    color:white;
}

.laser {
    background-image: url('./img/redLaser.png');
    background-size: cover;
    position:absolute;
    height:15px;
    width:8px;
}

.asteroid {
    background-size: cover;
    position: absolute;
    height: 60px;
    width: 50px;
}

.a1 {
    background-image:url('./img/asteroid1.png');
}
.a2 {
    background-image:url('./img/asteroid2.png');
}
.a3 {
    background-image:url('./img/asteroid3.png');
}
.explosion{
    background-image: url('./img/sprites/explosionsprite.png');
    position: absolute;
    height:94px;
    width:104px;
}
.playerexplosion{
    position:absolute;
    height:120px;
    width:120px;
    background-image: url('./img/sprites/playerexplosionsprite.png');
}

#github {
	width:60px;
	height:50px;
	background-image:url('img/github.png');
	position:absolute;
	top:10px;
	right:10px;
	background-size:cover;
}
#github:hover {
	background-image:url('img/githubOver.png');
}
